@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overscroll-behavior: none;
  min-height: 100vh;
}

html {
  scroll-behavior: auto;
}

::-webkit-scrollbar {
  @apply bg-transparent w-2;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  border-top-left-radius: .75rem;
  border-bottom-left-radius: .75rem;
  @apply bg-zinc-600;
}

.challenge-description {
  p {
    @apply text-sm text-pretty font-normal;
  }

  h2,
  h3,
  h4 {
    @apply my-2 font-bold border-2 border-x-0 border-t-0 border-b-border;
  }

  h3 {
    @apply text-lg;
  }

  h2 {
    @apply text-xl;
  }

  ul {
    @apply list-disc ml-5;
  }

  blockquote {
    @apply border border-border rounded-sm p-2 my-2 bg-gray-700/70;
  }
}

.main-header {
  animation: nav-header-shadow 1s linear both;
  animation-timeline: scroll();
  animation-range: 0 25px;
}

@keyframes nav-header-shadow {
  to {
    @apply shadow-lg backdrop-blur-md bg-background/40;
  }
}

.search-header {
  animation: search-header-shadow 1s linear both;
  animation-timeline: scroll();
  animation-range: 0 100px;
}

@keyframes search-header-shadow {
  to {
    @apply shadow-lg backdrop-blur-md bg-background/80 rounded-t-none;
  }
}
